name: CI/CD Production

on:
  # Só irá rodar nas seguintes situações das seguintes branhces
  push:
    branches: [main]

jobs:
  build:
    # qual sistema operacional vai rodar
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 12
      - run: |
          npm install
          npm run build
